body {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
}

a {
	color: #CDF;
}

button {
	padding: .5em 1em;
	margin: .5em;
}

#background, #info, #clip {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	text-align: center;
}

#clip-tools-out {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 1px;
}

#clip-tools {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	font-size: .8em;
	/*white-space: nowrap;*/
	background-color: rgba(0, 0, 0, .7);
	padding: .5em 1em;
	line-height: 1.2em;
}

#clip-tools-cks label {
	display: inline-block;
	padding: 3px;
	cursor: pointer;
	border: 1px solid #999;
	margin: 3px;
}

#info, #clip {
	background-color: rgba(0, 0, 0, .7);
	overflow: auto;
}

#info .failed, #info.is-failed .success {
	display: none;
}

#info.is-failed .failed, #info .success {
	display: initial;
}

#result {
	width: 80%;
	height: 8em;
	padding: .5em;
}

#bottom {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	font-size: .87em;
	padding: .5em;
	display: flex;
	justify-content: center;
}

.spacer {
	flex-grow: 1;
}